In [1]:
import sqlite3

In [3]:
con = sqlite3.connect("C:\Users\Invité\Desktop\NewDB.db")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 31-32: malformed \N character escape (1351190953.py, line 1)

In [4]:
con=sqlite3.connect("NewBD.db")

In [5]:
cur=con.cursor()

In [33]:
cur.execute(req)

In [34]:
con.commit()

In [35]:
req=("select * from students")

In [18]:
con=sqlite3.connect("NewBD.db")
cur=con.cursor()


req=("select * from students")


cur.execute(req)
for l in cur: print(l)

con.commit()
con.close()

(1, 'Simo', 'Serge Guy', 20.0)
(4, 'Simo', 'Murielle', 20.0)
(6, 'Djacheun', 'Kevin', 31.0)
(7, 'Tchoukeu', 'Simplice', 31.0)
(8, 'Datchoua', 'Tatiana', 15.0)
(9, 'Teukam', 'Serge', 31.0)
(10, 'Djamen', 'Gildas', 31.0)
(11, 'Chimi', 'Olivier', 31.0)
(12, 'Mbietheu', 'Cezar', 31.0)